.contact{
    padding: 8%;
	height:auto;
    .col-lg-4{
		padding: 4%;
	}

	.contactText{
		margin-left:5%;
		margin-bottom: 5%;
		font-weight: 700;
	}

	.contactForm{
		height : 100%;
		overflow: hidden;

	   .col-9{
		   margin:2% 0;
	   }
	}

	.submitAcknowledgment{
		background-color: #fff;
		color:blue;
		width: 200px;
		height: 100px;
	}
	
}

