.posts{
	overflow-x: hidden;
	height :auto;
	padding : 80px 0 40px 2%;
    background-color: #eaf2fa;

    .postsTitle{
     padding-left:10%;
	 margin-bottom: 5%;
	 font-weight: 700;
	}

	h3,p{
		color: #151515;
        transition: color .6s ease;
	}

	h3:hover{
		color: #795548;
		text-decoration: none;
		transition: color .6s ease;
		font-weight: 500;
	}
	.post{
		color: #000;
		text-decoration: none;
		margin-bottom: 3%;
		margin-left: 1%;
		text-decoration: none;
		border-bottom: 1px solid lightgray;

		img{
         margin-bottom: 1%;
		}
 	}
	 a:hover{
		text-decoration: none;
	 }


}