.skillsContainer{
	width: 100%;
	padding : 110px 0;
	background-color: #eaf2fa;
	height: auto;
}

.featurette {
    font-size: .8rem;
    line-height: 1.5;
    color: #555;
    text-align: center;
	gap: 5%;
	width: 100%;
    
	.featurette-icon {
		display: block;
		color: #795548;
		text-align: center;
		font-size: 1.5rem;
	}

	
	.skillsText{
		text-align: center;
		display: block;
		margin-bottom:3%;
		font-weight: 600;
		color: #000;
	}

	.skills{
		justify-content: space-around;
        row-gap: 100px;		
	}
}
